<h1>Editing reg table</h1>

<%= render "form", reg_table: @reg_table %>

<br>

<div>
  <%= link_to "Show this reg table", @reg_table %> |
  <%= link_to "Back to reg tables", reg_tables_path %>
</div>
