<p style="color: green"><%= notice %></p>

<h1>Reg tables</h1>

<div id="reg_tables">
  <% @reg_tables.each do |reg_table| %>
    <%= render reg_table %>
    <p>
      <%= link_to "Show this reg table", reg_table %>
    </p>
  <% end %>
</div>

<%= link_to "New reg table", new_reg_table_path %>
