<h1>Users</h1>

<div id="users">

</div>

<%= link_to "New user", new_user_path %>

<ul role="list" class="divide-y divide-gray-100">
  <% @users.each do |user| %>
    <li class="flex justify-between gap-x-6 py-5">
      <%= render user %>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <a class="text-sm leading-6 text-gray-900"><%= link_to "Expand", user %></p>
      </div>
    </li>
  <% end %>
</ul>