<%= render @user %>

<div>
 <br>
  <%= link_to "Edit User", edit_user_path(@user) %> <br>
  <%= button_to "Delete User", @user, method: :delete %><br>

  <%= link_to "Back to dashboard", '/' %>

</div>
