<% player = User.find_by(id: registration.user_id) %>

<div id="<%= dom_id registration %>">
  <p>
    <%= render partial:"users/user", locals:{user:player} %>

    <p class="inline">As: <%= registration.registrationType %></p>
  </p>

</div>
